body {
background-image: url("howtoovercom.jpg");
}
.calculator{
    margin: 50px auto;
    width: 30%;
}
.input {
    border-radius: 5px;
    margin-left: -12px;
    width: 347px;
    height: 42px;
    background-color: orange;
    font-size: 50px;
    color: black;
    border: none;
    text-align: right;
    margin-top: 50px;
}
.input::placeholder {
    color: black;
}

.button {
    width: 75px;
    height: 75px;
    font-size: 25px;
    border-radius: 100px;
    background-color: gray;
    border: none;
    margin: 2px;
}

.button:hover {
    background: white;
}

.zero {
    width: 155px;
}

.orange {

    background-color: orangered;

}

.up3 {
    background-color:lightgray;
}